@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

html,
body {
  height: 100%;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.homeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 6.4rem 0 1.5rem;
}

.content {
  margin: 0 auto;
  width: 112rem;
}

.content h2 {
  font-size: 3.2rem;
  margin: 0 0 0.8rem;
}

.content p {
  font-size: 2rem;
  margin: 0 0 1.6rem;
}

.tiles {
  display: flex;
  justify-content: space-between;
}

.tile {
  width: 15%;
  height: 10.5rem;
  font-size: 1.8rem;
  color: #0271e1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #e3e5e8;
  border-radius: 1.6rem;
  margin-bottom: 2.4rem;
}

.tile:hover {
  border: 1px solid #0271e1;
}

.tile svg {
  margin: 0 auto;
}

.tile h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0 1rem;
  font-weight: 500;
}
